{% extends 'CarniceriaBundle::layout.html.twig' %}

{% block body %}

<section class="content ctn__1">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <h2>Encuentranos</h2>
        <div class="map">
          <div class="row">
            <div class="grid_9">
              <figure class="">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24214.807650104907!2d-73.94846048422478!3d40.65521573400813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1395650655094" style="border:0"></iframe>
              </figure>
            </div>
            <div class="grid_3">
              <div class="map_block">
                <div class="map_title">Direcci&#243;n:</div>
                C/ Profesor Jos&#233; Garc&#237;a Santesmases, 9
 <br> Ciudad Universitaria, Madrid. Espa&#241;a
              </div>
              <div class="map_block">
                <div class="map_title">Tel&#233;fonos:</div>
                +34 911 559 6580 <br>+34 900 603 6035
              </div>
              <div class="map_block">
                <div class="map_title">Correo Electr&#243;nico:</div>
                <a href="#">contacto@CarniceriaRiesco.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}