{% extends "CarniceriaBundle::layout.html.twig" %}

{% block body %}
<section class="content"><div class="ic">More Website Templates @ TemplateMonster.com - July 30, 2014!</div>
  <div class="container">
    <div class="row">
      <div class="grid_4">
        <div class="banner">
		  <div class="gall_block">
          <img src="images/page1_img1.jpg" alt="">
          <div class="bann_capt ">
            <div class="maxheight">
              <img src="images/icon1.png" alt="">
              <div class="bann_title">Traditional Cuisine</div>
              <a href="#">more</a>
            </div>
          </div>
        </div>
	   </div>
      </div>
      <div class="grid_4">
        <div class="banner">
		  <div class="gall_block">
          <div class="bann_capt  bn__1">
            <div class="maxheight">
              <img src="images/icon2.png" alt="">
              <div class="bann_title">Kid’s &amp; Vegan Menu</div>
              <a href="#">more</a>
            </div>
          </div>
          <img src="images/page1_img2.jpg" alt="">
        </div>
		</div>
      </div>
      <div class="grid_4">
        <div class="banner ">
		  <div class="gall_block">
          <img src="images/page1_img3.jpg" alt="">
          <div class="bann_capt  bn__2">
            <div class="maxheight">
              <img src="images/icon3.png" alt="">
              <div class="bann_title">Happy Hours <br> &amp; Offers</div>
              <a href="#">more</a>
            </div>
          </div>
		  </div>
        </div>
      </div>
      <div class="grid_4">
        <div class="block1">
          <div class="count">1.</div>
          Vivamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a, commodo. Praesent faucibus malesuada faucibus. Donec laeet metus id laoreet malesuadarem ipsum dolor 
          <br>
          <a href="#" class="btn">more</a>
        </div>
      </div>
      <div class="grid_4">
        <div class="block1">
          <div class="count">2.</div>
          Dasamus at magna non nunc tristique rhoncus. Kliquam nibh ante, egestas id dictum a, commodo. Praesent faucibus malesuada faucibus. Donec laeet metus id laoreet malesuadarem ipsumer 
          <br>
          <a href="#" class="btn">more</a>
        </div>
      </div>
      <div class="grid_4">
        <div class="block1">
          <div class="count">3.</div>
          Tervamus at magna non nunc tristique rhoncus. Oliquam nibh ante, egestas id dictum a, commodo. Iraesent faucibus malesuada faucibus. Donec laeet etus id laoreet malesuadarem ipsolo 
          <br>
          <a href="#" class="btn">more</a>
        </div>        
      </div>      
    </div>
  </div>
</section>
{% endblock %}