              <footer id="footer">
                <div class="container">
                  <div class="row">
                    <div class="grid_12">  
                      <div class="copyright"><span class="brand">CholloSoft</span> &copy; <span id="copyright-year"></span>
                    </div>
                  </div>
                </div>
              </div> 
          </footer> 