{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}

<div class="sonata-order-block-recent-order panel panel-default">
	<div class="panel-heading">
	<h3 class="panel-title sonata-order-block-recent-order"><i class="fa fa-barcode"></i> Alertas de Stock</h3>
	</div>


	<div class="panel-body">

		<table class="sonata-order-block-order-container table table-condensed">
			<tbody>
			{% for producto in productos %}
			<tr>
				<td><a href="{{ path('producto_admin_edit',{'id': producto.id }) }}">{{ producto.nombre }}</a></td>
				<td class="number">Stock Actual :{{ producto.stock }}</td>
				<td><span class="label label-danger">Stock Bajo</span></td>
				<td class="number">Stock Minimo : {{ producto.alarmaStock }}</td>
			</tr>
			{% endfor %}
		</tbody></table>
	</div>
</div>
{% endblock %}