{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}

<div class="sonata-order-block-recent-order panel panel-default">
	<div class="panel-heading">
	<h3 class="panel-title sonata-order-block-recent-order"><i class="fa fa-barcode"></i> Ultimas Compras</h3>
	</div>


	<div class="panel-body">
		<table class="sonata-order-block-order-container table table-condensed">
			<tbody>
			{% for compra in compras %}

			<tr>
				<td><a href="{{ path('compra_admin_show',{'id': compra.usuarioSession }) }}">{{ compra.usuarioSession }}</a></td>
				<td class="number">EUR {{ compra.total }}</td>
				<td>
					{% if compra.estado == "PorRevisar" %}
					    <span class="label label-primary">Por Revisar</span>
					{% elseif compra.estado == "Cancelado" %}
					    <span class="label label-danger">Cancelado</span>
					{% elseif compra.estado == "Entregado" %}
					   <span class="label label-success">Entregado</span>
					{% elseif compra.estado == "Revisado" %}
					<span class="label label-info">Revisado</span>

					{% endif %}
				</td>
				<td>{{ compra.fechaCompra|date('Y-m-d H:i:s') }}</td>
			</tr>
			{% endfor %}
		</tbody></table>

		<a href="http://localhost/web/app_dev.php/admin/chollosoft/riesco/compra/list" class="btn btn-primary btn-block"><i class="fa fa-list"></i>&nbsp;Ver todas las Ordenes</a>
	</div>
</div>
{% endblock %}