{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
    	
<table style="width:300px; border:'1px' ">
	<thead>
	<tr>
		<td>
			Producto
		</td>

		<td>
			Precio
		</td>

		<td>
			Cantidad
		</td>
	</tr>
	</thead>
	<tbody>
	 <tr>
    	 {% for productoCarro in object.carros %}
    	
    	 <td>
        {{ productoCarro.idProducto.nombre  }}
        </td>
        <td>
        {{ productoCarro.precioProducto  }}€
        </td>
        <td>
        {{ productoCarro.cantidad }} {{ productoCarro.idProducto.unidadDeCompra }}
        </td>
    	{% endfor %}
    </tr>
    </tbody>
</table>
    </div>
{% endblock %}